<!DOCTYPE html>
<html lang="en" class="country-bg">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/styles.css'>
    <link rel="stylesheet" href='/css/styles.css'>
    <title>Country Search</title>
</head>

<body> 

    <div class="navbar">
        <nav>
            <ul>
                <li>
                    <a href="http://localhost:3000/">Jokes API</a>
                </li>
                <li>
                    <a href="http://localhost:3000/country">Country Search API</a>
                </li>
            </ul>

        </nav>
    </div>
    
    <div class="country-header">
        <h1>Welcome to the Country Search</h1>
        <h2>Search a Country by its name</h2>
        <label>Country Name</label>
        <input type="text" class="country-textbox">
        <label>The country name is complete</label>
        <input type="checkbox" class="checkbox-style">
        <button class="country-btn">Search</button>
    </div>

    <script src="/js/country-api/country-api.js"></script>
</body>

</html>