<!DOCTYPE html>
<html lang="en" class="index-bg">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='/css/styles.css'>
    
</head>
<body>
    <div class="navbar">
        <nav>
            <ul>
                <li>
                    <a href="/">Jokes API</a>
                </li>
                <li>
                    <a href="/country">Country Search API</a>
                </li>
            </ul>

        </nav>
    </div>
    <h1 class="index-header">Welcome to the Joke Site</h1>
    <button class="joke-btn">Generate a joke</button>
    <p id='setup'></p>
    <p id='punchline'></p>
    <div id='spinner-div'></div>
    <button class="next-joke-btn">Not to your liking? Try another one!</button>

    <script src="/js/script.js"></script>
</body>
</html>