.index-bg{
    background: url(/img/2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index-header{
    color: #fff;
    text-align: center;
}
.joke-btn{
    position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 200px;
  height: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

#setup{
  position: absolute;
  color: white;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}

#punchline{
  position: absolute;
  color:white;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
}


@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 42%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 80%;
    border: 1px solid #f6f;
    border-top-color: #0e0;
    border-right-color: #0dd;
    border-bottom-color: #f90;
    animation: spinner .6s linear infinite;
  }

  .next-joke-btn{
    position: absolute;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
  }

  .country-bg{
    background: url(/img/globe-2.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .country-header{
    position: relative;
    color: rgba(49,150,159,255);
    left: 850px;
    top: 200px;
    
  }

  .country-textbox{
    
  
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 2px solid #1c87c9;
    background-color:rgba(78,236,250,255);
    height: 25px;
    width: 300px;
    font-size: 15px;
    color: grey;
  
  }
  label{
    padding-bottom: 0.2cm;
    padding-top: 0.2cm;
    display: block;
    font-size: 0.5cm;
  }

  .country-btn{
    color: rgba(49,150,159,255);
    width: 100px;
    height: 45px;
    font-size: 20px;
    margin-top: 10px

  }
  .checkbox-style{
    display: block;
    
  }

  .navbar{
    height: 12%;
    display: flex;
    align-items: center;
  }

  nav{
    flex:1;
    text-align: right;
    margin-right: 40px;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
  }



  nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;

  }

  nav ul li a:hover{
    font-size: 18px;
  }
  