*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  color: rgb(235, 235, 235);
  
}
a{
  text-decoration: none;
  color:rgb(235, 235, 235);
}

.header{
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(to right bottom,rgb(182, 235, 90,0.7),rgb(46, 141, 225,0.7)),url('/img/2.jpg');
  background-position: center;
  position: relative;
}

.text-box{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.heading-main{
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-primary{
  display: block;
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 13.5px;
  animation: moveInLeft 1s ease-out;
}

.heading-sub{
  display: block;
  font-weight: 300;
  animation: moveInRight 1s ease-out;
}
.punchline-display{
  display: block;
  font-size: 35px;
  animation: moveInLeft 1s ease-out;
  margin-bottom: 30px;

}

@keyframes moveInLeft{
 0%{
  opacity: 0;
  transform: translateX(-100px);
 }

 80%{
  transform: translateX(10px);
 }

 100%{
   opacity: 1;
   transform: translateX(0);

 }

}

@keyframes moveInRight{
  0%{
   opacity: 0;
   transform: translateX(100px);
  }
 
  80%{
   transform: translateX(-10px);
  }
 
  100%{
    opacity: 1;
    transform: translateX(0);
  }
 }

 .btn{
  display: inline-block;
  padding: 10px 40px;
  background-color: white;
  color: #777;
  border-radius: 100px;
  font-size: 18px;
  animation: moveInUp 1s ease-out;

 }

 .btn:hover{
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0,0,0, 0.2);
 }

 .btn:active{
   transform: translateY(-1px);
   box-shadow: 0 2.5px 5px rgba(0,0,0,0.2);
 }

 @keyframes moveInUp {
   0%{
     opacity: 0;
     transform: translateY(50px);
   }
   80%{
     transform: translateY(-10px);
   }
   100%{
     opacity: 1;
     transform: translateY(0);
   }
   
 }

 .spinner{
    content: '';
    box-sizing: border-box;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 80%;
    border: 10px solid rgb(52, 52, 201);

    border-top-color:rgba(203, 132, 213, 0.71);

    border-bottom-color: rgba(136, 235, 155, 0.71);

    border-right-color: rgba(37, 215, 191, 1);
    
    border-left-color: rgba(132, 159, 213, 0.71);

    animation: spinner-anim .5s linear infinite;

    

 }

 @keyframes spinner-anim{
   0%{
     transform: rotate(0deg)
   }
   25%{
     transform: rotate(90deg);
   }
   50%{
     transform: rotate(180deg);
   }
   75%{
     transform: rotate(270deg);
   }
   100%{
     transform: rotate(360deg);
   }
 }